#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  padding: .5rem;
  text-align: center;
}
h1, h2, h3 {
  font-family: var(--display-type);
}
p {
  font-family: var(--body-type);

}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.photo-wrapper{
  position: relative;
}
.link-photo{
  height:200px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  border-radius: 10px 50px;
}
.link-photo-centered{
  object-position: 50% 50%;

}
.link-text, .link-org {
  color: #010102;
}
/* .link-text:hover, .link-org:hover {
  color: #284056;
}
.link-photo:hover{
  opacity: .7;
} */
.link-text{ 
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 25px;

}
.link-org{
  font-weight: bold;
  margin-top: 8px;
  font-size: 1.2em;
}
.App{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  
}

.top-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-link-a{
  max-width: 30%;
  margin-bottom: 50px;

}
.project-link{
  /* border: 2px solid var(--main-type-color);; */
  padding: 10px;
  background-color: var(--main-bg-color);
  border-radius: 10px 50px;
  height:100%;

  
}
.project-link:hover, .project-link:hover *{
  opacity: .8;
}
/* .topper{
  border-radius: 10px 50px;
  background-color: var(--main-bg-color);

 max-width: 75%;
  margin-left:auto;
  margin-right: auto; 
    padding: 2px;

} */
/* .page-title{
  border-radius: 10px 50px;
  background-color: var(--main-bg-color);
} */
.intro{
  padding:10px;
  border-radius: 10px 50px;
  background-color: var(--main-bg-color);
}
.subhead{
  line-height: 1em;
}
h3{
  margin-bottom: 8px;
  line-height: 1.1em;
}
h1{
  margin-bottom: 10px;
}
.social-links{
  display: flex;
  flex-direction: row;
  /* width: 400px; */
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.social-logo-link{
  padding-left: 5px;
  padding-right: 5px;
  /* margin: auto; */
}
.social-logo-link, .social-logo{
  width: 30px;
}

@media screen and (max-width: 870px) {
  .project-link-a{
    
    max-width: 45%;

  }

}
@media screen and (max-width: 480px) {
  /* .App{

     margin-left: 10px;
    margin-right: 10px; 
  } */
  .project-link-a{
    
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
     
     

  }
} 