#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.photo-wrapper{
  position: relative;
}
.link-photo{
  height:300px;
  width: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
.about-text{
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: rgba(0,0,0,.5) ;
  height: 100%;
  width: 100%;
}

.top-projects{
  display: flex;
  
}